{% extends 'base.html' %} {% block title %}
<title>{{title}} - AnimeThings</title>
<style>
    a:hover {
        text-decoration: underline!important;
    }
    
    a {
        text-decoration: none;
    }
</style>

{% endblock %} {% block body %}
<div class="container border p-0 ">
    <div class="border-bottom container">
        <div class="container p-0 mt-3">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/article">Articles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container ">
        <h1 class="mt-3">{{title}}</h1>
        <p class="mt-4">{{article[0]}}</p>

    </div>

</div>


{% endblock %}