{% extends 'base.html' %} {% block title %}
<title>Comments</title>

{% endblock %} {% block body %}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1 ps-1">{{ content.panel7 }}</span>
</nav>

<div class="container border">
    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container-fluid align-content-center">
                    <div class="container">
                        <form action="" method="POST" class="form-control mt-5 mb-8">
                            <div class="container mt-3">
                                <h5>Comment</h5>
                            </div>

                            <div class="container mt-3">
                                <div class="container">
                                    <div class="row">
                                        <div class="col mt-4">
                                            <div class="container">
                                                <small class="ms-1">Entry Comment:</small>
                                                <div class="form-floating mt-3">
                                                    <input type="text" name="comment" class="form-control">
                                                    <label for="floatingTextarea2">Post Comment</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mt-5">
                                            <div class="container text-center mt-5 mb-5">
                                                <input type="submit" class="btn btn-success mb-5" value="Submit Comment">

                                            </div>
                                        </div>

                                    </div>



                                </div>

                            </div>
                        </form>

                    </div>

                </div>



            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
    </div>

</div>




{% endblock %}